<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
  <span class="navbar-brand" style="color:white;">Users</span><br>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">

    <form class="form-inline">
      <input type="search" (ngModelChange)="searchAppUsers('Student',key.value)" #key="ngModel" ngModel
              name="key" id="searchStudentBy" class="form-control mr-sm-5" style="margin-left:10vw" placeholder="Search Student" required>
    </form>
    <form class="form-inline">
      <input type="search" (ngModelChange)="searchAppUsers('Professor',key.value)" #key="ngModel" ngModel
             name="key" id="searchProfessorBy" class="form-control" style="margin-left:35vw" placeholder="Search Professor" required>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">

      <div class="col-md-8">
        <span>Students:</span><br>
        <div class="row">
          <div *ngFor="let appUser of appUserStudents" class="col-sm-2">
            <button class="btn-outline-dark rounded" style="width: 7vw; height: 9vw;" (click)="open(viewAppUserModal); onOpenModal(appUser!,'view');">
              <img src={{appUser?.pictureURL}} class="mr-3 float-left img-fluid rounded" alt="Avatar Image" />
              <div class="col-12 card-title text-center badge text-wrap text-uppercase">
                <span class="text-center">{{appUser?.firstName}}</span><br>
                <span class="text-center">{{appUser?.lastName}}</span>
              </div>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <span class="ml-lg-5">Professors:</span><br>
        <div class="row">
          <div *ngFor="let appUser of appUserProfessors" class="ml-lg-5 col-3">
            <button class="btn-outline-dark rounded" style="width: 7vw; height: 9vw;" (click)="open(viewAppUserModal); onOpenModal(appUser!,'view');">
              <img src={{appUser?.pictureURL}} class="mr-3 float-left img-fluid rounded" alt="Avatar Image" />
              <div class="col-12 card-title text-center badge text-wrap text-uppercase">
                <span class="text-center">{{appUser?.firstName}}</span><br>
                <span class="text-center">{{appUser?.lastName}}</span>
              </div>
            </button>
          </div>
        </div>
      </div>

    </div>

</div>

<!-- Edit Personal Info Modal -->
<ng-template #updatePersonalModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="updatePersonalModalLabel">Edit {{editAppUser?.appUserRole}} {{editAppUser?.lastName}}'s Personal Info</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editForm="ngForm">
      <div class="row">
        <div class="col-6">

          <div style="text-align:center">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <div class="form-group">
              <label for="img_edit" class="form-label">Profile Picture</label><br>
              <img style="width:130px; height:130px;" [src]="url" *ngIf="url">
              <img style="width:130px; height:130px;" [src]="editAppUser?.pictureURL" *ngIf="!url">
              <input  class="form-control" id="img_edit" type="file" (change)="selectFile($event)">
            </div>
          </div>

      <div class="form-group">
        <label for="cnp_edit">CNP</label>
        <input type="text" ngModel="{{editAppUser?.cnp}}" name="cnp_edit" class="form-control" id="cnp_edit">
      </div>
      <div class="form-group">
        <label for="firstName_edit">First Name</label>
        <input type="text" name="firstName_edit" class="form-control" id="firstName_edit" ngModel="{{editAppUser?.firstName}}">
      </div>
      <div class="form-group">
        <label for="lastName_edit">Last Name</label>
        <input type="text" name="lastName_edit" class="form-control" id="lastName_edit" ngModel="{{editAppUser?.lastName}}">
      </div>
        </div>
        <div class="col-6">
      <div class="form-group">
        <label for="birthday_edit">Birthday</label>
        <input type="date" id="birthday_edit" name="birthday_edit" class="form-control" ngModel="{{editAppUser?.birthday}}">
      </div>
      <div class="form-group">
        <label for="gender_edit">Gender</label>
        <select name="gender_edit" id="gender_edit" class="form-control" ngModel="{{editAppUser?.gender}}">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email_edit">E-mail Address</label>
        <input type="email" id="email_edit" name="email_edit" class="form-control" ngModel="{{editAppUser?.email}}">
      </div>
      <div class="form-group">
        <label for="phone_edit">Phone Number</label>
        <input type="text" id="phone_edit" name="phone_edit" class="form-control" ngModel="{{editAppUser?.phone}}">
      </div>
      <div class="form-group">
        <label for="county_edit">County</label>
        <input type="text" id="county_edit" name="county_edit" class="form-control" ngModel="{{editAppUser?.county}}">
      </div>
      <div class="form-group">
        <label for="ci_edit">CI</label>
        <input type="text" id="ci_edit" name="ci_edit" class="form-control" ngModel="{{editAppUser?.ci}}">
      </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">No</button>
        <button class="btn btn-danger" (click)="onUpdateAppUser(editForm.value); modal.close('Save click')">Save Changes</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- Edit Studying Info Modal -->
<ng-template #updateStudyInfoModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="updateStudyModalLabel">Edit {{editAppUser?.appUserRole}} {{editAppUser?.lastName}}'s Study Info</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #editForm="ngForm">
      <div class="form-group">
        <label for="serialNumber_edit">Serial Number</label>
        <input type="text" name="serialNumber_edit" class="form-control" id="serialNumber_edit" ngModel="{{editAppUser?.serialNumber}}">
      </div>
      <div class="form-group">
        <label for="college_edit">College</label>
        <input type="text" name="college_edit" class="form-control" id="college_edit" ngModel="{{editAppUser?.college}}">
      </div>
      <div class="form-group">
        <label for="specialization_edit">Specialization</label>
        <input type="text" name="specialization_edit" class="form-control" id="specialization_edit" ngModel="{{editAppUser?.specialization}}">
      </div>
      <div class="form-group">
        <label for="studyType_edit">Study Type</label>
        <select name="studyType_edit" id="studyType_edit" class="form-control" ngModel="{{editAppUser?.studyType}}">
          <option value="Bachelor">Bachelor</option>
          <option value="Master">Master</option>
          <option value="Doctorate">Doctorate</option>
        </select>
      </div>
      <div class="form-group">
        <label for="year_edit">Year</label>
        <input type="number" id="year_edit" name="year_edit" class="form-control" ngModel="{{editAppUser?.year}}" min="1" max="4">
      </div>
      <div class="form-group">
        <label class="tax_edit">Tax</label>
        <select name="tax_edit" id="tax_edit" class="form-control" ngModel="{{editAppUser?.tax}}">
          <option value="Tax">Tax</option>
          <option value="Budget">Budget</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">No</button>
        <button class="btn btn-danger" (click)="onUpdateAppUser(editForm.value); modal.close('Save click')">Save Changes</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- Delete Modal -->
<ng-template #deleteAppUserModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="deleteAppUserModalLabel">Delete {{deleteAppUser?.appUserRole}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete {{deleteAppUser?.appUserRole}}: {{deleteAppUser?.firstName}} {{deleteAppUser?.lastName}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">No</button>
    <button class="btn btn-danger" (click)="onDeleteAppUser(deleteAppUser?.id!); modal.close('Save click');">Yes</button>
  </div>
</ng-template>

<!-- View Modal -->
<ng-template #viewAppUserModal let-modal class="modal-lg">

  <div class="modal-body">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- Navigation bar (Tabs in modal) -->
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>

        <!--First Tab -->
        <a ngbNavLink>Personal Information</a>
        <ng-template ngbNavContent>

          <div class="row">
            <div class="col-md-4">
              <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail" src={{viewAppUser?.pictureURL}}>
              <h5 class="modal-title text-center">{{viewAppUser?.firstName}} {{viewAppUser?.lastName}}</h5>
            </div>

            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-user-information">
                  <tbody>
                  <tr>
                    <td>
                      <strong>
                        CNP
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.cnp}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        First Name
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.firstName}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        Lastname
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.lastName}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <strong>
                        Birthday
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.birthday}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        Gender
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.gender}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <strong>
                        Email
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.email}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        Phone
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.phone}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <strong>
                        County
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.county}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        CI
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.ci}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="float-right btn-group btn-group-sm">
            <button class="btn btn-primary tooltips" (click)="open(updatePersonalModal); onOpenModal(viewAppUser!,'edit'); modal.close('Save click');"><i class="fa fa-pencil"></i> </button>
            <button class="btn btn-secondary tooltips" (click)="open(deleteAppUserModal); onOpenModal(viewAppUser!,'delete'); modal.close('Save click');"><i class="fa fa-times"></i> </button>
          </div>
        </ng-template>

      </li>
      <li ngbNavItem>
        <a *ngIf="viewAppUser?.appUserRole=='Student'" ngbNavLink>Studying Information</a>
        <ng-template ngbNavContent>


          <div class="row">
            <div class="col-md-4">
              <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src={{viewAppUser?.pictureURL}}>
              <h5 class="modal-title text-center">{{viewAppUser?.firstName}} {{viewAppUser?.lastName}}</h5>
            </div>
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-user-information">
                  <tbody>
                  <tr>
                    <td>
                      <strong>
                        Serial Number
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.serialNumber}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        College
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.college}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        Specialization
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.specialization}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <strong>
                        Study Type
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.studyType}}
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <strong>
                        Year
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.year}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        Tax
                      </strong>
                    </td>
                    <td>
                      {{viewAppUser?.tax}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="float-right btn-group btn-group-sm">
            <button class="btn btn-primary tooltips" (click)="open(updateStudyInfoModal); onOpenModal(viewAppUser!,'edit'); modal.close('Save click');"><i class="fa fa-pencil"></i> </button>
            <button class="btn btn-secondary tooltips" (click)="open(deleteAppUserModal); onOpenModal(viewAppUser!,'delete'); modal.close('Save click');" ><i class="fa fa-times"></i> </button>
          </div>

        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>

  <div class="modal-footer">
  </div>
</ng-template>

<!-- Notification for no appUsers -->
<div *ngIf="appUserStudents?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO PROFESSORS!</h4>
    <p>No Students were found.</p>
  </div>
</div>
<div *ngIf="appUserProfessors?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO STUDENTS!</h4>
    <p>No Professors were found.</p>
  </div>
</div>
