@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';



body {
  background: url("C:\Users\Asus ROG Strix\Desktop\unnamed.jpg");
  background-size: cover;
}
#back_register{
  background: yellow;
}

.button, p, span, input{
  font-family: "Times New Roman"
}
.table{
  font-family: "Times New Roman"
}

/*pagina de register*/
#reg_useremail{border-radius: 12px;padding: 5px;font-size: 16px; font-family: "Times New Roman"}
#reg_birthday{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_CI{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_CNP{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_county{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_college{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_birthday{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_gender{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_lastName{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_firstName{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_serialNumber{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_year{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_specialization{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_tax{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_professor{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_phone{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_username{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_userpassword{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_userpasswordconfirm{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_studyType{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_img{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman"}
#reg_submit{border-radius: 12px;padding: 5px;font-size: 16px;font-family: "Times New Roman";
width: 400px;
margin: auto;}
#scrisul_din_register{
  font-family: "Times New Roman";
  font-size: 17px;
  font-optical-sizing: auto;
}
/*final pagina register*/
#signin_btn{
  background: #add8e6;
  font-family: "Times New Roman";
  border: 2px solid #3b6998;
  box-shadow: 2px 3px #888888;
  border-radius: 12px;
  padding: 5px;
  font-size: 16px;
  width: 20%;
}

#login_page_style{
  font-family: "Times New Roman";
  font-size: 25px;
}

a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 30px;
}

.card {
  border: none;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
}

.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background-color: rgba(89, 206, 181, .85);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 12px;
}

a {
  color: #707070;
}
i {
  color: white;
}



a {
  color: white;
}
