<!--suppress ALL -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand" style="color:white;">Students List</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchAppUsers(key.value)" #key="ngModel" ngModel
             name="key" id="searchFirstName" class="form-control mr-sm-2" placeholder="Search student" required>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
      <div *ngFor="let appUser of appUsers" class="col-2">
        <button class="btn-primary tooltips" (click)="open(viewAppUserModal); onOpenModal(appUser!,'view');">
          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="mr-3 float-left img-fluid rounded" alt="Avatar Image" />
              <div class="col-12 card-title text-center badge bg-primary text-wrap text-uppercase">
                <span class="text-center">{{appUser?.firstName}}</span><br>
                <span class="text-center">{{appUser?.lastName}}</span>
              </div>
        </button>
      </div>
    </div>
</div>

  <!-- Edit Modal -->
  <ng-template #updateAppUserModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="updateAppUserModalLabel">Edit AppUser{{editAppUser?.firstName}}</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #editForm="ngForm">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" ngModel="{{editAppUser?.firstName}}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="FirstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" ngModel="{{editAppUser?.lastName}}" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="LastName">
        </div>
        <input type="hidden" ngModel="{{editAppUser?.id}}" name="id" class="form-control" id="id" placeholder="Id">
        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" ngModel="{{editAppUser?.email}}" name="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <input type="text" ngModel="{{editAppUser?.appUserRole}}" name="appUserRole" class="form-control" id="appUserRole" placeholder="User Role">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">No</button>
          <button class="btn btn-danger" (click)="onUpdateAppUser(editForm.value); modal.close('Save click')">Save Changes</button>
        </div>
      </form>
    </div>
  </ng-template>


  <!-- Delete Modal -->
  <ng-template #deleteAppUserModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="deleteAppUserModalLabel">Delete AppUser</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete AppUser {{deleteAppUser?.firstName}} {{deleteAppUser?.lastName}}?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">No</button>
      <button class="btn btn-danger" (click)="onDeleteAppUser(deleteAppUser?.id!); modal.close('Save click')">Yes</button>
    </div>
  </ng-template>

<!-- View Modal -->
<ng-template #viewAppUserModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="viewAppUserModalLabel">Student {{viewAppUser?.firstName}} {{viewAppUser?.lastName}}</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<!-- Notification for no appUsers -->
<div *ngIf="appUsers?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO USERS!</h4>
    <p>No appUsers were found.</p>
  </div>
</div>

